body{
    background: pink;
}

h1 {
    color: aquamarine;
    background: blueviolet;
    text-align: center;
    font-size: 36px;
    border: 2px solid yellow;
    border-radius: 20px;
    margin: 80px 50px;
    /* top&botton, right&left */


    margin: 80px 50px 80px 50px;
    /* top, right, botton, left */
   /*  margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 80px;
    padding: 50px 0px; */
}

h2{
    background: aqua;
    box-shadow: 3px 3px 5px;
}

#subtitulo1{
    background: olivedrab;
    
}

#subtitulo2 {
    background: purple;
}

.sombra{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);

}
a{
    background: black;
    border-radius: 5px;
    color: white;
    text-decoration: none; /* Remove a linha que fica abaixo do link */
    padding: 5px;
    text-transform: uppercase; /* coloca todas as letras em maiusculas */
}

a:hover { /* hover é o momento em que passamos o mouse sobre o link */

    background: white;
    color: black;
    border: 1px solid black;
}